# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/processentryappclient/node_modules
/processentryappclient/.pnp
.pnp.js

# testing
/processentryappclient//coverage

# production
/processentryappclient//build

# misc
/processentryappclient/.DS_Store
/processentryappclient/.env.local
/processentryappclient/.env.development.local
/processentryappclient/.env.test.local
/processentryappclient/.env.production.local

/processentryappclient/npm-debug.log*
/processentryappclient/yarn-debug.log*
/processentryappclient/arn-error.log*


